@mixin masterUI
{
	.v-caption.v-caption-dbLogoLayout
	{
		margin-top: 50px;
		margin-bottom: 25px;
	}
	
	.v-caption.v-caption-dbLogoLayout > .v-captiontext
	{
		font-size: 1.5em;
		font-weight: bold;
		text-decoration: underline;
	}
	
	.dbLogoLayout .dbLogo a
	{
		display: flex;
	}
	
	.dbLogoLayout .dbLogo a img
	{
		border: 2px solid black;
	}
	
	.dbLogoLayout .dbLogo:hover
	{
		outline: 2px solid yellow;
	}
}