// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// Import master theme - Valo.

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";
@import "local/abstractDatabaseUI.scss";
@import "local/masterUI.scss";

@mixin nosql_showcase
{
	@include valo;
	
	/* END OF VALO */
	
  	.rootAppLayout
  	{
  		/* styles for root element of a page, if desired */
  		display: block;
		width: 1350px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 5px;
		padding-bottom: 5px;
  	}
  	
	/* global styles for pretty much anything */
	.maxWidth
	{
		width: 100%;
	}
	
	.maxHeight
	{
		height: 100%;
	}
	
	.displayBorder
	{
		border: 1px solid black;
	}
	
	/* global styles for specialized elements */
	.lbl-note
  	{
  		text-decoration: underline;
  	}
  	
  	/* styles dedicated to certain UI/component instances */
  	
  	@include abstractDatabaseUI;
	@include masterUI;
}